@font-face {
    font-family: 'young-serif';
    src: url(/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family:'outfit' ;
    src: url(/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400 700;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;


    background-color: hsl(30, 54%, 90%);
}
.todo{
    width: 100%;
    max-width: 735px;
    gap: 10px;
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(2px, 1440px));
    text-wrap: wrap;
}
img{
    max-width:fit-content;
    width: 100%;
    border-radius: 15px;
}
ol {
    margin: 0px;
    padding-left: 21px;
    text-wrap: wrap;
}
ul{
    margin: 0px;
    padding-left: 25px;
    text-wrap: wrap;
}
li{
    font-family: outfit;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.5;
    color: hsl(30, 10%, 34%);
    padding-left: 15px;
}
#cuad_trasp{
    background-color: hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 20px;
    width: 100%;
    max-width:fit-content;

}
table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
    font-family: outfit;
    font-size: 16px;
}
td{
    padding:8px 0 8px 30px;
}
td.derecho{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}
tr{
   border-bottom: 1px solid hsl(30, 18%, 87%);
}
tr#ult{
    border-bottom: 1px  ;
}
h1 {
    font-family: young-serif;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}
h2{
    font-family: young-serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin: 20px 0 15px;

}
p{
    font-family: outfit;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(30, 10%, 34%);
    margin: 0 0 25px;
}
h3{
    font-family: outfit;
    margin-top: 0;
    color: hsl(332, 51%, 32%);
}
hr{
    border: 1px solid hsl(30, 18%, 87%);
    margin-top: 30px;
    width: 100%;
}

@media (max-width: 735px) {
    .todo{
        padding: 0 20px 0 20px;

    }
}