body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    background-color: hsl(30, 54%, 90%);
}
.todo{
    width: 735px;
    gap: 25px;
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    border-radius: 20px;
}
ul{
padding-left: 0px;
}
#cuad_trasp{
    text-align:left;
    margin:0 auto;
    word-wrap: break-word;
}